.profilepath {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}


  /* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --f: .5em; /* control the folded part*/
    --r: .8em; /* control the ribbon shape */
    
    position: absolute;
    top: 20px;
    left: calc(-1*var(--f));
    padding-inline: .25em;
    line-height: 1.8;
    background: #F07818;
    border-bottom: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path: 
      polygon(calc(100% - var(--r)) 0,0 0,0 calc(100% - var(--f)),var(--f) 100%,
        var(--f) calc(100% - var(--f)),calc(100% - var(--r)) calc(100% - var(--f)),
        100% calc(50% - var(--f)/2));
  }